@model CourseCreateVM


@{ViewData["Title"] = "Create"; }

<div class="form-group row">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <h1 class="col-sm-2 col-form-label">Course</h1>
        <div class="col-sm-10">
            <label>Name</label>
            <input asp-for="Name"
                   class="form-control form-control-round">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-sm-10">
            <label>Rating</label>
            <select asp-for="Rating" class="form-control form-control-round">
                <option value="">Select Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="col-sm-10">
            <label>Price</label>
            <input asp-for="Price" type="number" step="any" min="0"
                   class="form-control form-control-round">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col-sm-10">
            <label>Category</label>
            <select asp-validation-for="CategoryId" asp-items="@ViewBag.categories" class="text-danger form-control form-control-round"></select>
        </div>
        <div class="col-sm-10">
            <label>Instructor</label>
            <select asp-validation-for="InstructorId" asp-items="@ViewBag.instructors" class="text-danger form-control form-control-round"></select>
        </div>
        <div class="col-sm-10">
            <label>Image</label>
            <input asp-for="Images"
                   class="form-control form-control-round">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div class="buttons mt-5">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>

    </form>
</div>

