@model InstructorCreateVM
    @{
        ViewData["Title"] = "Create";
    }

    <div class="form-group row">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <h1 class="col-sm-2 col-form-label">Instructor</h1>
            <div class="col-sm-10">
                <label>Name</label>
                <input asp-for="FullName" class="form-control form-control-round">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label>Email</label>
                <input asp-for="Email" class="form-control form-control-round">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label>Subject</label>
                <input asp-for="Subject" class="form-control form-control-round">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label>Courses</label>
                <select asp-validation-for="CourseId" asp-items="@ViewBag.Courses" class="form-control form-control-round" multiple="multiple"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label>Image</label>
                <input asp-for="NewImage" class="form-control form-control-round" type="file">
                <span asp-validation-for="NewImage" class="text-danger"></span>
            </div>
            <div class="buttons mt-5">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>

